# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Environment Variables
.env

# Development Environment
__pycache__/
*.pyc
.idea/

# Saved Data
madlibs.json